{{ define "main" }}
{{ block "masthead" . }}{{ partial "site/masthead.html" . }}{{ end }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column feature">
        <img
          src="https://picsum.photos/150"
          alt="Feature Image"
          class="is-rounded"
        />
        <h2 class="title is-size-3">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi est
          quod error enim eligendi perferendis excepturi, dolore consequatur
          voluptatibus aliquid eius similique tempora maxime et, mollitia
          repudiandae, saepe minima odio.
        </p>
      </div>
      <div class="column feature">
        <img
          src="https://picsum.photos/150"
          alt="Feature Image"
          class="is-rounded"
        />
        <h2 class="title is-size-3">Heading</h2>
        <p>
          Placeat labore earum neque dolore corrupti. Ad incidunt quaerat minima
          amet. Porro vitae, quisquam suscipit incidunt similique deserunt id
          dolor? Quae odio explicabo ipsa ratione eos architecto fuga autem non!
        </p>
      </div>
      <div class="column feature">
        <img
          src="https://picsum.photos/150"
          alt="Feature Image"
          class="is-rounded"
        />
        <h2 class="title is-size-3">Heading</h2>
        <p>
          Fugit molestias ipsum numquam ratione, libero reiciendis voluptates!
          Numquam mollitia porro ipsam sint nesciunt expedita consectetur
          debitis laboriosam doloremque non? Laboriosam eligendi ullam debitis,
          facilis magnam tempora quidem! Consectetur, dolores!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <hr />
    <div class="columns">
      <div class="column is-two-thirds">
        <h2 class="title is-size-1">First featurette heading</h2>
        <h3 class="subtitle is-size-2">This is a subtitle</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          blanditiis dolores sequi porro mollitia quasi, provident atque nisi
          minus sed iste. Harum odit animi vero ex aliquid dolorem fugit
          provident.
        </p>
      </div>
      <div class="column has-text-centered">
        <img src="https://picsum.photos/350" alt="" class="img-fluid" />
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column has-text-centered">
        <img src="https://picsum.photos/350" alt="" class="img-fluid" />
      </div>
      <div class="column is-two-thirds">
        <h2 class="title is-size-1">Second featurette heading</h2>
        <h3 class="subtitle is-size-2">This is a subtitle</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          blanditiis dolores sequi porro mollitia quasi, provident atque nisi
          minus sed iste. Harum odit animi vero ex aliquid dolorem fugit
          provident.
        </p>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column is-two-thirds">
        <h2 class="title is-size-1">Third featurette heading</h2>
        <h3 class="subtitle is-size-2">This is a subtitle</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          blanditiis dolores sequi porro mollitia quasi, provident atque nisi
          minus sed iste. Harum odit animi vero ex aliquid dolorem fugit
          provident.
        </p>
      </div>
      <div class="column has-text-centered">
        <img src="https://picsum.photos/350" alt="" class="img-fluid" />
      </div>
    </div>
    <hr />
  </div>
</section>

<section class="hero is-medium is-info is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-size-1">Big Bold Title</h1>
      <h2 class="subtitle is-size-4">Smaller Subtitle</h2>
      <a href="#" class="button is-dark is-inverted is-outlined is-uppercase has-text-weight-bold">An exciting link!</a>
    </div>
  </div>
</section>
{{ end }}
